/* You can add global styles to this file, and also import other style files */
html, body, div, span, h1, p, ul, li{
    padding: 0;
    margin: 0;
    font: inherit;
    vertical-align: baseline;
}
body{
    background-color: #f1f1f1;
    font-size: 18px;
    line-height: 20px;
    color: #404040;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
ul{
    list-style-type: none;
}
.btn{
    text-align: center;
    background-color: #0a7e5c;
    color: #f1f1f1;
    border: none;
    border-radius: 5px;
    width: 75px;
    padding: 3px 10px;
    margin: 0 0 0 3px;
    font-size: 14px;
    line-height: 28px;
    cursor: pointer;
    vertical-align: bottom;
    transition: .3s ease all;
}
.btn:hover{
    background-color: #0da478;
}
.btn-red{
    color: #f1f1f1;
    background-color: #c82d30;
    transition: 0.3s ease-out all;
}
.btn-red:hover{
    background-color: tomato;
}
.app-title {
    font-size: 52px;
    line-height: 52px;
    margin-bottom: 30px;
    font-weight: bold;
    text-align: center;
    letter-spacing: -0.8px;
}
